[submodule "thirdparty/libopencm3"]
	path = thirdparty/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "thirdparty/freertos"]
	path = thirdparty/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
